@page
@model PresentationLayer.Pages.UserModel
@{
}
<html>
<head>
    <link rel="icon" type="image/png" href="~/css/Table_Responsive_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/Menu_scroll/menu_scroll.css"/>

    <body>
        @if (Request.QueryString.Value != null)
        {
            <div>@Model.id</div>
        }



        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" style="float:left">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Danh sách User
                        </a>
                    </li>
                    @foreach (var item in Model.getAllEmployee())
                    {
                        <li>
                            <a href="/user?id=@item.Id">@item.FullName</a>
                        </li>
                    }
                </ul>
            </div>
            
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            @*<div id="page-content-wrapper">
                <div style="float:right">
                    <button id="menu-toggle" class="btn btn-secondary">
                        <i id="toggleIcon" class="fa fa-angle-double-down"></i> Toggle Menu <i class="fa fa-filter"></i>
                    </button>
                </div>*@
                <div class="container-fluid">
                @if(@Request.QueryString.HasValue == true)
                 {
                    @if (Model.loai.Equals("?id"))
                    {
                        <a href="/user?danhsachcongviec=1">
                            <div style="width:300px;height:50px; background-color:steelblue">
                                Danh sách công việc 1
                            </div>
                        </a>
                        <a href="/user?danhsachcongviec=2">
                            <div style="width:300px;height:50px; background-color:steelblue">
                                Danh sách công việc 2
                            </div>
                        </a>
                        <a href="/user?danhsachcongviec=2">
                            <div style="width:300px;height:50px; background-color:steelblue">
                                Danh sách công việc 3
                            </div>
                        </a>
                    }
                    else
                    {
                        if (Model.loai.Equals("?danhsachcongviec"))
                        {
                            <a href="/user?congviec=1">
                                <div style="width:300px;height:50px; background-color:steelblue">
                                    Công việc 1
                                </div>
                            </a>
                            <a href="/user?congviec=2">
                                <div style="width:300px;height:50px; background-color:steelblue">
                                    Công việc 2
                                </div>
                            </a>
                            <a href="/user?congviec=2">
                                <div style="width:300px;height:50px; background-color:steelblue">
                                    Công việc 3
                                </div>
                            </a>
                        }
                        else
                        {
                            if (Model.loai.Equals("?congviec"))
                            {
                                <a href="/user?congviec=2">
                                    <div style="width:300px;height:50px; background-color:steelblue">
                                        Chi tiết công việc 
                                    </div>
                                </a>
                            }

                        }
                    }
                }

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->



        

    </body>
</head>
<script src="~/css/Table_Responsive_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/vendor/bootstrap/js/popper.js"></script>
<script src="~/css/Table_Responsive_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/js/main.js"></script>
<script src="~/js/Menu_scroll/menu_scroll.js"></script>


</html>